.DS_Store
node_modules/
yarn-cache/
npm-cache/
.next/
out/
.env
.env.local
.env.production
deploy.log
backend/vendor/
backend/.env
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/views/*.php
backend/storage/framework/sessions/*
backend/storage/logs/*.log
